@import 'variables';

.nav-bar-list{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
}
#main-container{
    display: flex;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid $nav-border-color;
}
#nav-center-content{
    width: 60%;
    height: 100%;
    padding: 25px 2%;
    display: flex;

}
.wrapper-riot-games-red-dropdown{

}
#nav-left-content {
    display: flex;
    padding: 0px 0px 0px 2.5%;
    fill: white;
    height: 100%;
    &:hover {
        fill: $riot-red;
      }
}
.invisible{
    position: absolute;
    background: white;
    height: 0px;
    width: 100%;
    padding: 0;

}
.riot-white-menu{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 500px;
    padding: 0px 30px;
    overflow: auto;
    transform: translate(-117px, 0px);
    transition: height 1s;


}
#punch-logo{
    width: 85px;
    height: 80px;

}
#punch-logo-black{
    width: 85px;
    height: 80px;

}
#arrow-logo-riot{
    transform: translate(85px, -80px);
    width: 10px;
    height: 80px;
    opacity: 60%;
}
#arrow-logo-riot-reverse{
    position: absolute;
    transform: rotate(180deg);
    width: 10px;
    height: 80px;
    opacity: 60%;

}
.arrow-logo-on-title-items{
    margin-left: 5px;
    margin-bottom: 10px;
    width: 10px;
    height: 100%;
    opacity: 60%;
    fill: white;

}
.nav-item{
    display: flex;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    &.text{
        top: 0;
        border-top: 10px solid transparent;
        height: 40px;
        font-size: 18px;
        width: 150px;
        margin-left: 60px;
        &:hover{
            background-color: #313131;
            
        }
    }

    &.icon{
        margin-top: 20px;
        height: 50%;
        border: 10px solid transparent;
        &:hover{
            background-color: #313131;

            border: 10px solid #313131;

        }
    }    
    &:hover{
        background-color: #313131;

    }
}
.title-container-item-nav{
    height: 100%;
    margin-bottom: 10px;
}
.special-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: $font-color;
    text-decoration: none;
}
.wrapper-floatin-options-square{
    padding-top: 10px;
}
.floatin-options-square{
    margin-left: 60px;
    height: 150px;
    width: 200px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #313131;
    border-top: 5px solid #D13639;
}

.item-float-options-square{
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200;
    color: white;
    &:hover{
        background-color: #444444;
    }
}
#nav-right-content{
    width: 40%;
    display: flex;
    padding: 0px 0px 0px 2.5%;
    justify-content: flex-end;
    justify-items: center;
    margin-right: 10px;
    
}
.container-title-item-nav{
    height: 100%;
    margin: 0;
    padding: 0;
    transform: translate(0, -5px);
}
#search-bar-container{
    position: relative;
    height: 40px;
    top: 20px;
}
.input-search-bar-black{
    border-radius: 30px;
    height: 100%;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 5px;
    width: 200px;
    background-color: #313131;
    border: none;
    outline:none;
    color: white;
    font-weight: 100px;
    font-size: small;
    text-transform: uppercase;
    &:active{
        border: none;
        outline:none;
    }

}
.input-search-bar-transparent{
    border-radius: 30px;
    height: 100%;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 5px;
    width: 200px;
    background-color: transparent;
    border: 1px solid white;
    outline:none;
    color: white;
    font-weight: 100px;
    font-size: small;
    text-transform: uppercase;
    &:active{
        border: none;
        outline:none;
    }

}
::placeholder { 
    color: white;
    opacity: 1; /* Firefox */
}
#search-logo{
    color: white;
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 25px;
    cursor: pointer;
}
#signin-button-container{
    position: relative;
    height: 40px;
    top: 20px;
    margin-left: 15px;
    margin-right: 10px;
}
#button-sign-in{
    border-radius: 30px;
    height: 100%;
    width: 100px;
    background-color: #D13639;
    font-size: 12px;
    font-weight: 500px;
    padding-top: 0;

    border: none;
    outline:none;
    &:active{
        border: none;
        outline:none;
    }
}
#wrapper_riot_logo{
    &:hover{
        fill: $riot-red;
    }
}
.first-row-on-wmenu{

    display: flex;
    justify-content: space-between;

}
#wmenu-exit-button{
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #ECECEC;

    border: none;
    outline:none;
    &:active{
        border: none;
        outline:none;
    }
}
.wmen-main-grid{
    display: grid;
    grid-template-columns: 16.667% 16.667% 16.667% 50%;
}
.li-title-on-wmenu-column{
    border-radius: 10px;
    background-color: #F3F3F3;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 8px;
    width: 95% ;
    height: 40px;
    &.not-on-top{
        margin-top: 15px;
    }
}
.li-item-on-wmenu-column{
    color: #444444;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 3px;
    width: 95% ;
    margin-top: 5px;
    &:hover{
        background-color: #F3F3F3;
        cursor: pointer;
    }
}
.wmenu-card-space-standby{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.standby-card-item{
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 5px;
}
.wrapper-standby-card-item{
    width: 50%;

}
.wmenu-container-special-card-item{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.special-card-item{
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: rotatez(10deg) translate(150px, -10px);
}
.wmenu-card-space-item-selected{
    border-radius: 30px;
    overflow: hidden;
}