
$nav-bar-background: #111111;
$item-color-on-hover: #8080804d;
$nav-border-color: #1A1A1A;
$font-color: #f9f9f9;
$main-font: verdana;
$riot-red: #EB0029;
$other-color: rgb(17, 17, 17);
$background-color: #0A0A0A;